*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(135, 148, 148);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    position: fixed;
    background: rgb(119, 44, 44);
    color: rgb(0,0,0);
    width: 100vw;
    padding: 0;
    text-align: center;
    z-index: 10000;
}
.jks {
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo{
    /* align-items: center; */
    border: black solid 2px;
    border-radius: 50%;
    margin:2vh 5vh 0 -20vh;
    margin-right: 5vh;
    height: 8vh;
}
.Sunil{
    /* align-items: center; */
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 50%;
    margin:2vh 5vh 0 -20vh;
    margin-right: 5vh;
    height: 25vh;
}

.namepic{
    align-items: center;
    justify-content: center;
    display: flex;
}
main {
    margin: 15vh 15vh 8vh 15vh;
 }
strong {
    list-style: circle;
}

.h2 p li{
    list-style: square;
    padding: 0;
}
nav ul {
    list-style: none;
    padding: 0;
}

NAV UL LI :hover{
    color: rgb(6, 214, 145);
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: rgb(0,0,0);
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
